@media (max-width:1280px) {
    #burguer-form {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    #btn-burguer {
        display: flex;
        width: 50px;
    }
    
    #btn-burguer > svg {
        width: 100%;
    }

    #nav-header {
        display: none;
    }

    header > picture {
        justify-content: center;
    }

    #portada-section > picture {
        width: 550px;
        top: 12rem;
    }

    #portada-section > article > h1 {
        font-size: 3rem;
        margin-top: 0;
    }

    #portada-section > article > p {
        font-size: 1.5rem;
    }

    #portada-section > fieldset > button {
        font-size: 1.15rem;
        padding: 12px 20px;
        margin-right: 5px;
    }
}
