@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Freeman&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
}

body {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    color: snow;
    background: linear-gradient(to bottom right,red, black 70%);
    margin: 0 50px;
}

header {
    display: flex;
    width: auto;
    flex: auto;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(179, 2, 2));
    box-shadow: rgb(0, 0, 0) 0px 2px 8px;
    animation: BackInTop 1s 1 forwards;
}

@keyframes BackInTop {
    
    0% {
      -webkit-transform: translateY(-2000px) scale(0.7);
      transform: translateY(-2000px) scale(0.5);
      
    }
  
    60% {
      -webkit-transform: translateY(0px) scale(0.7);
      transform: translateY(0px) scale(0.8);
      
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      
    }
  }

header > picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-img-logo {
    width: 70%;
    box-shadow: black 0px 0px 15px;
}

#nav-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: auto;
}

#nav-header > a {
    display: flex;
    margin-right: 10%;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
    border-bottom: 1px solid transparent;
    border-radius: 20px;
    transition: 0.2s;
    opacity: 0;
    animation: hrefnavOpacity 1s 900ms 1 forwards;
}

@keyframes hrefnavOpacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        scale: 1.2;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

#nav-header > a:hover {
    border-bottom: 1px solid white;
    border-radius: 0px;
    transform: scale(1.2);
}

#burguer-form {
    display: none;
}

#portada-section {
    display: flex;
    cursor: default;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#portada-section > article {
    width: 50%;
    padding: 8%;
    margin-top: -5%;
}

#portada-section > article > h1 {
    font-size: 3.5rem;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    border-radius: 5px;
    color: white;
    text-shadow: black 2px 2px 3px;
    transition: 0.3s;
    transform: translateX(-50vw);
    animation: LeftInicio 1s 1 forwards;
}

@keyframes LeftInicio {
    0% {
        transform: translateX(-50vw);
    }

    75% {
        transform: translateX(5vw);
    }


    100% {
        transform: translateX(0);
    }

}
#typewritting {
    animation: typewritting 0.4s infinite alternate-reverse ;
}

@keyframes typewritting {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#portada-section > article > p {
    font-size: 1.5rem;
    text-align: justify;
    text-shadow: rgba(0, 0, 0, 0.733) 2px 2px 1px;
    margin-bottom: -10%;
    transform: translateX(-50vw);
    animation: LeftInicio 1s 100ms 1 forwards;
}

fieldset {
    border: none;
}

#portada-section > article > fieldset {
    display: flex;
    margin-top: 20%;
    transform: translateX(-50vw);
    animation: LeftInicio 1s 200ms 1 forwards;
}

#portada-section > article> fieldset > button {
    background-color: transparent;
    font-family: "Freeman";
    color: snow;
    border: none;
    border: 1px solid;
    margin-right: 25px;
    border-radius: 4%;
    padding: 12px 20px;
    font-size: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

#portada-section > article > fieldset > button:hover {
    background-color: white;
    color: black;
    transform: scale(1.2);
}

#portada-section > aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
}

#portada-section > aside > picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25%;
    width: 650px;
}

@keyframes AppearLogo {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 1;
        filter: drop-shadow(0 2px 1px);
    }

    100% {
        opacity: 1;
        filter: drop-shadow(0 2px 1px);
    }
}

#portada-section > aside > picture > img {
    width: 100%;
    max-width: 100%;
    opacity: 0;
    animation: AppearLogo 1.5s 900ms 1 forwards;
}

#info-section {
    display: flex;
    width: 100%;
}

#info-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#info-section >article {
    display: flex;
    margin: 0 200px;
    font-size: 1rem;
}